@model AnonymousInfo.Models.InfoFormViewModel

@using AnonymousInfo.Models

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Anonymous Info</title>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <environment names="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/styles.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/styles.min.css" asp-append-version="true" />
    </environment>
</head>
<body>

    <form method="post" enctype="multipart/form-data" asp-controller="home" asp-action="send" id="email-form">

        @Html.AntiForgeryToken()
        <div class="form-row">
            <div class="form-group col-md-12">
                <h3>Анонимный сброс сведений</h3>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMsg))
                {
                    <label class="alert alert-danger">
                        @ViewBag.ErrorMsg
                    </label>
                }
                else if(!string.IsNullOrWhiteSpace(ViewBag.SuccessMsg)) 
                {
                    <label class="alert alert-success">
                        @ViewBag.SuccessMsg
                    </label>
                }
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="Subject">Тема</label>
                <input class="form-control" required type="text" id="Subject" asp-for="Subject" />
            </div>
            <div class="form-group col-md-12">
                <label for="Content">Сообщение</label>
                <textarea class="form-control" required id="Content" asp-for="Content" rows="5" cols="20"></textarea>
            </div>
            <div class="form-group col-md-12">
                <label for="Content">Файлы</label>
                <input class="form-control-file" type="file" name="attachments" multiple="multiple" />
                <span>Cуммарный объем файлов не должен быть более 25MB</span>
            </div>
            <div class="form-group col-md-12 form-footer">
                <button class="g-recaptcha btn btn-primary" data-sitekey="@Model?.ClientKey" data-callback='onSubmit'>Отправить</button>
            </div>
        </div>
        @Html.HiddenFor(m => m.ClientKey)
    </form>
    <script>
        function onSubmit(token) {
            document.getElementById("email-form").submit();
        }
    </script>
</body>
</html>