@model AnonymousInfo.Models.InfoFormViewModel

@using AnonymousInfo.Models

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Anonymous Info</title>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>

    <h3>Анонимный сброс сведений</h3>
    @ViewBag.msg
<form method="post" enctype="multipart/form-data" asp-controller="home" asp-action="send" id="email-form">
    @Html.AntiForgeryToken();
    <table>
        <tr>
            <td>Тема</td>
            <td><input required type="text" asp-for="Subject" /></td>
        </tr>
        <tr>
            <td valign="top">Сообщение</td>
            <td><textarea required asp-for="Content" rows="5" cols="20"></textarea></td>
        </tr>
        <tr>
            <td>Файлы</td>
            <td><input type="file" name="attachments" multiple="multiple" /></td>
        </tr>
        <tr>
            <td valign="top">&nbsp;</td>
            <td><button class="g-recaptcha" data-sitekey="@Model.ClientKey" data-callback='onSubmit'>Отправить</button></td>
        </tr>
    </table>
    @Html.HiddenFor(m => m.ClientKey)
</form>
    <script>
        function onSubmit(token) {
            document.getElementById("email-form").submit();
        }
    </script>
</body>
</html>